# Discord Bot Configuration
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Payee Details
UPI_ID=susilmadhesh@okaxis
PAYEE_NAME=Susil Madhesh
CURRENCY=INR

# Prefix command (e.g. !qr 500)
COMMAND_PREFIX=!
